@import '../styles.scss';


#ica-header {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	width : 100%;
	height: 10vh;
	padding: 3vh;
	background: $ica_blue-dark;
}

.ica-header-img {
	width : auto;
	height: 4vh;
}

#ica-body {
	width : 100%;
	height: 90vh;
	padding: 20px;
	background: $ica_white;
}

.ica-body-grid {
	display        : flex;
	justify-content: flex-start;
	align-items    : stretch;
	flex-direction : column;
	width : 100%;
	height: 100%;
	overflow: scroll;
	
	.grid-row {
		display        : flex;
		justify-content: flex-start;
		align-items    : center;
	}
}