<div id='ica-header'>
	<img class='ica-header-img' src='assets/img/ica_logo.png'/>
</div>

<div id='ica-body'>
	<div class='ica-body-grid' *ngIf='_lazyService.data'>
		<div class='grid-row' *ngFor='let row of _lazyService.visibleCells'>
			<app-cell *ngFor='let cell of row' [content]='cell'></app-cell>
		</div>
	</div>
</div>

<div id='ica-footer'></div>