@import '../../styles.scss';


.cell-component {
	display        : flex;
	justify-content: center;
	align-items    : center;
	flex-shrink    : 0;
	width : 100px;
	height: 40px;
	margin: 5px;
	border-radius: 6px;
	background: $ica_blue-light;
}