$ica_white     : #FFFFFF;
$ica_blue-light: #1E88E5;
$ica_blue-dark : #01123D;


* {
	box-sizing: border-box;
}

body {
	margin : 0;
	padding: 0;
}

app-root {
	width : 100vw;
	height: 100vh;
	margin : 0;
	padding: 0;
}

div {
	margin : 0;
	padding: 0;
}

p {
	margin : 0;
	padding: 0;
	color: $ica_white;
}